/*{% extends 'base.html.twig' %}

{% block title %}example{% endblock %}

{%  block content %}
  {% if test is defined %}
   <p>{{ test }}</p>
   {% endif %}
   {%  if response is defined %}
   <p>{{ reponse }}</p>
   {% endif %}
{% endblock %}*/