{% extends 'base.html.twig' %}

{% block body %}

     <div class="parent">
            <div class="child">
                <center>
                    <p>{{ result.oneLine }}</p>
                    <p>{{ result.twoLine }}</p>
                    <p>{{ result.threeLine }}</p>
                    <p>{{ result.fourLine }}</p>
                </center>
            </div>
        </div>


{% endblock %}
